* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html , body , #root {
  height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
}

/* padre > hijo {
}
padre hijo {
} */

#root > main , #root > header , #root > footer {
  padding: 1rem;
}

#root > main {
  flex-grow: 1;
}

.header {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  nav {
    a {
      margin-left: 1rem;
    }
  }
}

.footer {
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

.modal {
  position: fixed;
  top : 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.2);
}